@use "../../scss/" as *;

.hero__item {
  padding: 9rem 0;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba(black, 0));
  }

  &__content {
    @include flex(center, center);
    position: relative;
    padding: 20px;

    @include mobile {
      padding-top: 23px;
    }

    &__info {
      width: 55%;
      padding: 0 3rem;
      position: relative;

      @include tablet {
        width: 100%;
        margin-top: 50px;
      }

      @include mobile {
        margin: 0;
      }

      & > * ~ * {
        margin-top: 3rem;
      }

      .title {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;

        @include tablet {
          font-size: 3rem;
        }
      }

      .overview {
        font-weight: 700;
        font-size: 21px;

        @include mobile {
          font-size: 14px;
        }
      }
    }

    &__image {
      flex: 1;
      @include flex(center, flex-start);
      position: relative;

      @include tablet {
        display: none;
      }
    }
  }
}
