$body-bg: #0f0f0f;
$main-color: #ff0000;
$shadow-color: #ff00004d;

$box-shadow: rgb(255 255 255) 0px 12px 43px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 600px;
$tablet-width: 1024px;

$font-family: "Montserrat", sans-serif;
